.my-page-container {
  background-color: #f0f0f0; // 浅灰色背景
  padding: 20rpx; // 内边距，根据需要调整
  display: flex;
  flex-direction: column; // 垂直布局
  align-items: center; // 水平居中卡片
}

.quantity {
  font-size: 28rpx; // 数量文本大小
  color: #333; // 文本颜色
  margin-bottom: 20rpx; // 数量和卡片之间的间距
  width: 100%; // 让数量文本靠左对齐
  text-align: left; // 靠左对齐
}
